<!DOCTYPE html>
<html>
  <head>
    <title>CashRegister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'>
          <%= link_to 'New Purchase', root_path, class: 'btn' %>
        </div>

        <div class='col-md-2'>
          <%= link_to 'Purchases', purchases_path, class: 'btn' %>
        </div>
      </div>
      <% if flash.present? %>
        <% flash.each do |f| %>
          <div class="alert alert-dismissable alert-<%= f[0] == 'notice' ? 'success' : 'danger' %>" role="alert">
            <%= f[1] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
